#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
.displayItem:hover{
    text-decoration: none;
    background-color: brown;
}
.displayItem:visited{
    text-decoration: none;
}
.displayItem:link{
    text-decoration: none;
}
.imageResizer{
    height: 210.5px;
}
.addCartButton {
    margin-top: 15px;
    width: 150px;
    float: right;
    background: #34d93f;
    background-image: -webkit-linear-gradient(top, #34d93f, #5eb82b);
    background-image: -moz-linear-gradient(top, #34d93f, #5eb82b);
    background-image: -ms-linear-gradient(top, #34d93f, #5eb82b);
    background-image: -o-linear-gradient(top, #34d93f, #5eb82b);
    background-image: linear-gradient(to bottom, #34d93f, #5eb82b);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.addCartButton:hover {
    background: #5eb82b;
    background-image: -webkit-linear-gradient(top, #5eb82b, #34d93f);
    background-image: -moz-linear-gradient(top, #5eb82b, #34d93f);
    background-image: -ms-linear-gradient(top, #5eb82b, #34d93f);
    background-image: -o-linear-gradient(top, #5eb82b, #34d93f);
    background-image: linear-gradient(to bottom, #5eb82b, #34d93f);
    text-decoration: none;
}